@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
       
                    <p>
                        Les clients, représentés par l'entité "Customer", sont au cœur de l'application. <br />
                        Chaque client est associé à un abonnement, symbolisé par l'entité "Membership". <br />
                        Ces abonnements peuvent être de différents types, offrant ainsi une flexibilité
                        dans la tarification et les avantages associés. <br /> <br />

                        L'autre composant clé de l'application est la gestion des films. Chaque film est <br />
                        associé à un genre particulier, créant ainsi une diversité dans la bibliothèque <br />
                        de films. Les genres, définis dans l'entité "Genre", permettent de classer et  <br />
                        d'organiser les films en fonction de leurs caractéristiques communes..
                    </p>
       
</div>


